.status{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 15px rgb(95, 4, 4); border: 3.5px solid;
}

table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: #2196F3;
    color:white;
    font-weight: bold
}

.kembali{
    color: rgb(18, 1, 1);
    text-align: center;
    background-color: black;
    width: 135px;
    height: 20px;
    display: block;
    margin-top: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    background: transparent;
    border: 2px solid black;
    text-decoration: none;
}