*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 25px 15px;

}

.Main-card img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    object-fit: cover;
    color: white;
    border: 2px solid white;
    display:block;
}

